<!DOCTYPE html>
<html>
  <head>
    <title>Title</title>
    <style type="text/css">
      span.bold {font-weight: bold;}
      table.noborder {border: 0px; padding: 8px;}
      th {text-align: left;}
    </style>
  </head>
  <body>
    <p>
      Dear User,
    </p>

{% block content %}
{% endblock %}

    <p>
      Regards, <br />
      <br />
      TwitchRPG
    </p>
  </body>
</html>
